---
# - modernize-concat-nested-namespaces: requires C++17, should be good by now
#   in theory
# - modernize-avoid-c-arrays: new check, get back to this later
# - modernize-use-nodiscard: new check, get back to this later
# - clang-analyzer-optin.cplusplus.UninitializedObject: new check, seems to emit false positive on
#   boost::optional
# - modernize-use-trailing-return-type: signal/noise ratio looks low
# - bugprone-macro-parentheses: this breaks SAL_LOG()
# - readability-qualified-auto: LO code doesn't really do auto* pFoo
# - bugprone-signed-char-misuse: complains on signed char -> int conversion, seems dubious
# - misc-no-recursion: seems dubious
# - bugprone-reserved-identifier: sometimes warns without a code location
Checks: "clang-diagnostic-*,\
-clang-analyzer-cplusplus.NewDelete,\
-clang-analyzer-cplusplus.NewDeleteLeaks,\
-clang-analyzer-optin.cplusplus.UninitializedObject,\
performance-*,\
unused-*,\
modernize-*,\
-modernize-raw-string-literal,\
-modernize-concat-nested-namespaces,\
-modernize-avoid-c-arrays,\
-modernize-use-nodiscard,\
-modernize-use-trailing-return-type,\
misc-*,\
-misc-no-recursion,\
bugprone-*,\
-bugprone-macro-parentheses,\
-bugprone-narrowing-conversions,\
-bugprone-signed-char-misuse,\
-bugprone-reserved-identifier,\
readability-*,\
-readability-braces-around-statements,\
-readability-deleted-default,\
-readability-implicit-bool-cast,\
-readability-implicit-bool-conversion,\
-readability-magic-numbers,\
-readability-qualified-auto,\
"
WarningsAsErrors: '*'

