---
# - modernize-concat-nested-namespaces: requires C++17, should be good by now
#   in theory
# - modernize-avoid-c-arrays: new check, get back to this later
# - modernize-use-nodiscard: new check, get back to this later
# - clang-analyzer-optin.cplusplus.UninitializedObject: new check, seems to emit false positive on
#   boost::optional
# - modernize-use-trailing-return-type: signal/noise ratio looks low
Checks: "clang-diagnostic-*,\
-clang-analyzer-cplusplus.NewDelete,\
-clang-analyzer-cplusplus.NewDeleteLeaks,\
-clang-analyzer-optin.cplusplus.UninitializedObject,\
performance-*,\
unused-*,\
modernize-*,\
-modernize-raw-string-literal,\
-modernize-concat-nested-namespaces,\
-modernize-avoid-c-arrays,\
-modernize-use-nodiscard,\
-modernize-use-trailing-return-type,\
misc-*,\
bugprone-*,\
-bugprone-narrowing-conversions,\
readability-*,\
-readability-braces-around-statements,\
-readability-deleted-default,\
-readability-function-size,\
-readability-implicit-bool-cast,\
-readability-implicit-bool-conversion,\
-readability-magic-numbers,\
"
WarningsAsErrors: '*'

