---
# Would be nice, but depends on C++17:
# - modernize-concat-nested-namespaces
# New check, will be interesting later:
# - modernize-avoid-c-arrays
Checks: "clang-diagnostic-*,\
-clang-analyzer-cplusplus.NewDelete,\
-clang-analyzer-cplusplus.NewDeleteLeaks,\
performance-*,\
unused-*,\
modernize-*,\
-modernize-raw-string-literal,\
-modernize-concat-nested-namespaces,\
-modernize-avoid-c-arrays,\
misc-*,\
bugprone-*,\
-bugprone-narrowing-conversions,\
readability-*,\
-readability-braces-around-statements,\
-readability-deleted-default,\
-readability-function-size,\
-readability-implicit-bool-cast,\
-readability-implicit-bool-conversion,\
-readability-magic-numbers,\
"
WarningsAsErrors: '*'

