html {
  background: -moz-Dialog;
}

#feedBody, #feedError {
  border: 1px solid THreeDShadow;
  padding: 3em;
  -moz-padding-start: 30px;
  margin: 2em auto;
  background: -moz-Field;
}

body {
  margin: 0;
  padding: 0 3em;
  color: -moz-fieldText;
  font: message-box;
}

h1 {
  font-size: 160%;
  border-bottom: 2px solid ThreeDLightShadow;
  margin: 0 0 .2em 0;
}

h2 {
  color: ThreeDDarkShadow;
  font-size: 110%;
  font-weight: normal;
  margin: 0 0 .6em 0;
}

.feedEntryContent {
  font-size: 110%;
}
