[package]
name = "pdfcal"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = "4.5.53"
image = "0.25.9"
pdfium-render = "0.8.37"
sys-locale = "0.3.2"
tempfile = "3.24.0"
time = "0.3.44"
